:root {
    --main-font: 'Poppins', sans-serif;
    --additional-font: 'Fira Code',
        monospace;
    --main-color: hsl(203.7, 66.94%, 23.73%);
    --secondary-color: hsl(257, 78%, 98%);
}

body {
    font-family: var(--main-font);
}

.hero h2 {
    font-family: var(--additional-font);
    font-size: 20px;
    font-weight: bold;
    color: var(--main-color);

}

h1 {
    font-size: 75px;
    font-weight: bold;
    line-height: 1.2;
}

.hero h3 {
    font-size: 23px;
    font-weight: bold;
}

.projects-btn {
    display: inline-block;
    margin-top: 40px;
    padding: 20px 28px;
    background-color: var(--main-color);
    color: white;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    text-decoration: none;
    font-family: var(--additional-font);
}

.projects-btn:hover {
    background-color: white;
    color: var(--main-color);
    transition: 0.3s;
}

.hero {
    padding: 170px 30px 160px 50px;
    background-color: var(--secondary-color);
}