:root {
    --main-font: 'Poppins', sans-serif;
    --additional-font: 'Fira Code',
        monospace;
    --main-color: hsl(203.7, 66.94%, 23.73%);
    --secondary-color: hsl(257, 78%, 98%);
}

body {
    font-family: var(--main-font);
}

nav {
    padding: 10px 0;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    list-style: none;
    line-height: 42px;
    font-family: var(--additional-font);
    font-size: 18px;
    margin-left: 35px;
}

nav a {
    text-decoration: none;
    color: rgba(20, 69, 101, 0.788);
    font-weight: 500;
    transition: all 100ms ease-in-out;
}

nav a:hover, nav li.active a {
    color: var(--main-color);
}

nav .logo {
    font-size: 23px;
    color: var(--main-color);
}

.hero h2 {
    font-family: var(--additional-font);
    font-size: 20px;
    font-weight: bold;
    color: var(--main-color);

}

h1 {
    font-size: 75px;
    font-weight: bold;
    line-height: 1.2;
}

.hero h3 {
    font-size: 23px;
    font-weight: bold;
}

.projects-btn {
    display: inline-block;
    margin-top: 40px;
}

.button {
    padding: 20px 28px;
    background-color: var(--main-color);
    color: white;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    text-decoration: none;
    font-family: var(--additional-font);
}

.button:hover {
    background-color: white;
    color: var(--main-color);
    transition: all 100ms ease-in-out;
}

.hero {
    padding: 120px 50px 110px 50px;
    background-color: var(--secondary-color);
}

footer {
    padding: 20px 0 0 20px;
}

footer .email-link {
    text-decoration: none;
    color: black;
    font-size: 22px;
    margin: 30px 0;
}

footer .email-link:hover {
    color: var(--main-color);
}

footer .social-links a{
    margin-left: 20px;
    padding: 10px 14px;
    color: var(--main-color);
    background-color: var(--secondary-color);
    font-size: 18px;
    border-radius: 50%;
    transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
    color: white;
    background-color: var(--main-color);
}

footer p {
    font-family: var(--additional-font);
    font-size: 16px;
    opacity: 0.7;
    margin-top: 15px;
}

.about-me {
    padding: 45px 45px 10px 45px;
}

.about-me h2 {
    font-size: 38px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-bottom: 27px;
    font-weight: 600;
}

.about-me h2:before,
.about-me h2:after {
    position: absolute;
    top: 51%;
    margin-left: 2%;
    overflow: hidden;
    width: 43%;
    height: 1px;
    content: '\a0';
    background-color: var(--main-color);
}

.about-me h2:before {
    margin-left: -50%;
    text-align: right;
}

.about-me p {
    line-height: 1.5;
    font-size: 18px;
}

.my-img {
    width: 85%;
    border-radius: 13px;
}

.img-container {
    text-align: center;
}

.about-me li {
    margin-bottom: 5px;
    font-family: var(--additional-font);
}

.about-me li::marker {
    color: var(--main-color);
}

.about-me span {
    font-weight: 500;
}

.work-section {
    padding: 100px 50px 0 50px;
}

.work-section h2 {
    font-size: 48px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-bottom: 27px;
    font-weight: 600;
    margin-bottom: 110px;
}

.work-section h4 {
    font-size: 32px;
    text-align: center;
}

.work-section p {
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
}

.work-section img {
    width: 100%;
    border-radius: 13px;
}

.work-section .technologies{
    display: flex;
    justify-content: center;
    gap: 20px;
    color: var(--main-color);
}

.work-section .technologies p{
    font-family: var(--additional-font);
}

.work-section .button {
    display: inline-block;
    margin: 0 auto;
    padding: 19px 15px;
    background-color: white;
    color: var(--main-color);
}

.work-section .button:hover {
    background-color: var(--main-color);
    color: white;
    transition: all 100ms ease-in-out;
}

.btn-container {
    text-align: center;
    margin: 10px;
}

.contact-container {
    padding: 130px 50px 50px;
}

.contact-container h1 {
    font-size: 70px;
    text-align: center;
}

.contact-container h3 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 55px;
    opacity: 0.8;
}



@media (max-width: 500px) {
    h1 {
        text-align: center;
        font-size: 45px;
    }

    .hero h2 {
        text-align: center;
        font-size: 16px;
    }

    h3 {
        text-align: center;
        font-size: 18px;
    }

    .hero .projects-btn {
        margin: 40px 19px;
        padding: 18px 24px;
        display: block;
        text-align: center;
        font-size: 14px;
    }

    .work-section p {
        font-size: 16px;
    }

    .work-section {
        padding: 70px 10px 0 10px;
    }

    .work-section .technologies {
        gap: 4px;
    }

    .work-section h2 {
        text-align: center;
    }

    .work-section .long-tech {
        display: grid;
        grid-template-columns: auto auto auto;
    }

}
